<!-- Projects -->
<div id="fprojects"></div>
<div class="p-5 m-5">
  <h1>Completed Project Highlights</h1>
</div>

<!-- Featured Projects Carousel -->

  <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="0" class="active bg-warning" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="1" class="bg-warning" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="2" class="bg-warning" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner bg-dark pt-5">     
      <div class="carousel-item active slide-image">
        <a href=<%- highlightedProjects[0].projectURL %> target="_blank" rel="noreferrer noopener"><img src=<%- highlightedProjects[0].imgFile %> alt=<%- highlightedProjects[0].imgFileAlt %>></a>
     
      </div>
      <div class="carousel-item slide-image">
        <a href=<%- highlightedProjects[1].projectURL %> target="_blank" rel="noreferrer noopener"><img src=<%- highlightedProjects[1].imgFile %> alt=<%- highlightedProjects[1].imgFileAlt %>></a>
       
      </div>
      <div class="carousel-item slide-image">
        <a href=<%- highlightedProjects[2].projectURL %> target="_blank" rel="noreferrer noopener"><img src=<%- highlightedProjects[2].imgFile %> alt=<%- highlightedProjects[2].imgFileAlt %>></a>
  
      </div>


    </div>

    <!-- Carousel Previous Button -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <!-- Carousel Next Button -->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>


<!-- Button for complete project list -->
<div id="projectsBtn" class="bg-dark p-5">
  <a href="/projects"><button  type="submit" class="btn btn-light btn-lg p-5" >Click Here For Full Completed Project List And Details</button></a>
</div>

<div id="cprojects" class=" bg-light text-center">

    <!-- Current projects -->
    <div class="p-5 m-5">
      <h1>Current Projects</h1>
    </div>

    <!-- Loop to display each current project-->
    <div class="accordion" id="currentProjects">
      <% currentProjects.forEach(function(project) { %>
        <div class="accordion-item">
          <h2 class="accordion-header" id=<%- project.name %>>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%- project.dataTarget %> aria-expanded="true" aria-controls=<%- project.control %>>
              <p><%- project.title %></p>
            </button>
          </h2>
          <div id=<%- project.control %> class="accordion-collapse collapse" aria-labelledby=<%- project.name %> data-bs-parent="#currentProjects">
            <div class="accordion-body">
              <p><%- project.description %></p>
            </div>
          </div>
        </div>  
      <% }); %>

</div>
