<%- include('partials/header'); -%>

<div class="bg-dark container-fluid" id="projectPage">
    <h1 class="project-page-title p-5 text-light"><%- title %></h1>
    <img class="project-page-image p-5 img-fluid" src=<%- image %> alt=<%- imageAlt %>>
</div>
   



    <h3 class="p-5"><%- description %></h3>





    <%- include('partials/footer'); -%>

